/* Large desktop */
@media (min-width: 1200px) {
    .description-name, .rating {
        width: 75%;
        margin-left: 25%;
    }
    .description-status {
        padding-left: 2%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .description-name, .rating {
        width: 62%;
        margin-left: 38%;
    }
    .description-status{
        padding-left: 33%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .description-status {
        width: 80%;
        margin-left: 10%;
        padding-left: 28%;
    }
    .description-name h2{
        font-size: 20px;
        margin-bottom: 0;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .description-status{
        font-size: 9px;
        padding-right: 0px;
        width: 90%;
        margin-left: 10%;
        padding-left: 31%;
    }
    .description-name p {
        font-size: 10px;
        margin-bottom: 0px;
    }
    .description-name h2{
        font-size: 15px;
        margin-bottom: 0;
    }
}