body {
  margin: 0px;
  overflow: hidden;
  text-align: center;
  background-color: #000000;
  font-family: "Guardians";
    background-image: url(../images/galaxy_starfield.png);
background-repeat: no-repeat;
    background-size: cover;
}
a {
  z-index: 1;
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-decoration: none;
  margin-top: 30%;
  border: 1px solid #ffffff;
  padding: 5px;
  color: #ffffff;
}
#start {
    display: none;
}
canvas {
  z-index: 0;
}


@font-face {
  font-family: "Guardians"; /* Имя шрифта */
  src: url(../fonts/Guardians.ttf); /* Путь к файлу со шрифтом */
}

