body { margin: 0px;     overflow: hidden; background-image: url(../images/galaxy.jpg);
background-repeat: no-repeat;
    background-size: cover;
}
#date {
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    font-family: "Guardians";
}
canvas, #WebGL-output { z-index:0; }
.btn {
    margin-top:20px; 
    margin-bottom:20px; 
    background: transparent; 
    border: none;
    color: white; 
    display: inline-block;
    text-align: center;
    font-size: 12px;
    padding: 15px 15px;
    font-family: "Guardians";
}
.btn1 {
    background: transparent ; 
    color: white; 
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    padding: 15px 15px;
    font-family: "Guardians";
}
.input {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.calendar {
    width: 300px;
    z-index: 1000;
    position: fixed;
}
.calendar input{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-family: "Guardians";
    border: 1px solid #fff;
    margin: 10px;
}
.calendar #year , .calendar #mounth {
    width: 60px;
}