.container{
    padding: 0 !important;

}
body{
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.ion-ios-plus-empty:before, .ion-ios-close-empty:before {
    font-size: 50px;
}
.input Input {
    font-size:35px;
    font-family: 'LazyFox Medium';
    height:100px;
    background-color:#781c3b;
    border:0;
    color:#fff;
    display:block;
    padding-left:15px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
Input:focus{
    box-shadow: 0px 0px 1pt 1pt #999999;
    background-color:#781c3b;
    outline:none;
}
.input button{
    height:100px;
    background-color: #781c3b;
    color: #fff;
    border: 0;
}
.list {
    background-color:rgba(255,241,246,0.8);
    margin-top: 100px;
}
.list button{
    height:100px;
    background-color: rgba(255,241,246,0.8);
    color: #000;
    border: 0;
}
.list li i {

    font-family: 'LazyFox Medium';
    font-size:35px;
}
 ::-webkit-input-placeholder {color:rgba(255,255,255,0.5);  font-family: 'LazyFox Medium'; text-align: center;}
 ::-moz-placeholder          {color:rgba(255,255,255,0.5);  font-family: 'LazyFox Medium'; text-align: center;}/* Firefox 19+ */
 :-moz-placeholder           {color:rgba(255,255,255,0.5);  font-family: 'LazyFox Medium'; text-align: center;}/* Firefox 18- */
 :-ms-input-placeholder      {color:rgba(255,255,255,0.5);  font-family: 'LazyFox Medium'; text-align: center;}
li {

    height:100px;
    border:0;
    color:#000;
    display:block;
    padding-left:15px;
}



@font-face {
    font-family: 'LazyFox Medium'; /* Гарнитура шрифта */
    src: url(LazyFox/LazyFox.ttf);
    font-weight: normal;
    font-style: normal;
}